body{
    margin: 0;
    margin-right:0px ;
}
.nav-pad{
    padding: 20px 20px;
    margin: 0px 20px;
}
.img-m{
    height: 630px;
    width: max-content;
}
.cont{
    margin: 0px;
}
.text-c{
    color:rgb(48, 20, 234);
}
.back-color{
    background-color: #f7f7f7;
}
.image{
 width:310px;
   
}
.display{
    display: flex;
}
 
.box{
    
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        padding: 50px 70px;
        /* margin-left: 20px; */
    
}
.box-c-1{
    background-color: rgb(1, 203, 147);
}
.box-c-2{
    background-color: rgb(1, 112, 203);
}
.img-size{
    height: 600px;
    width: 100vh;
}
