.nav-pad{
    padding: 20px 20px;
    margin: 0px 20px;
}
.img-m{
    height: 630px;
    width: max-content;
}
.cont{
    margin: 0px;
}
.text-c{
    color:rgb(48, 20, 234);
}
.back-color{
    background-color: #f7f7f7;
}
.image{
    height: 220px;
}
.display{
    display: flex;
}
/* .effect img:hover{
   
        backdrop-filter: blur(10px);
        transition: 0.5s ease;
        transform: scale(2);
   
} */
.box{
    
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        padding: 50px 100px;
        margin-left: 20px;
    
}
.box-c-1{
    background-color: rgb(1, 203, 147);
}
.box-c-2{
    background-color: rgb(1, 112, 203);
}
.img-size{
    height: 600px;
    width: 100vh;
}
